:root {
    --default-font: 'iA Writer Quattro V', sans-serif;
    --font-monospace: 'Iosevka Mono', monospace;
}

.cm-s-obsidian .HyperMD-codeblock {
    font-family: var(--font-monospace) !important;
}

.cm-s-obsidian span.cm-inline-code {
    font-family: var(--font-monospace) !important;
    font-size: initial;
}
